
*.vsidx
*.ipch
*.tlog
*.db
*.obj
*.obj
.vs/Online Chess Application/v17/.suo
*.db-shm
*.db-wal
.vs/Online Chess Application/v17/HierarchyCache.v1.txt
*.obj
*.obj
*.obj
*.opendb
*.obj
*.dll
*.pdb
*.obj
*.obj
curlTest/x64/Debug/Rook.obj
